body {
    background-color: #c3c6c2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color: #738678;
}

h2 {
    color: #738678;
}

.about {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
}

.about img {
    width: 300px;
    height: 200px;
    border-radius: 25%;
}

.about p {
    width: 50%;
    text-align: center;
    margin: auto;
    line-height: 125%;
}

a {
    text-decoration: none;
    color: #738678;
    font-weight: bold;
}

.projects { 
    display:flex;
    flex-wrap:wrap;
    margin-right: 75px;
    margin-left: 75px;
    justify-content: space-between;
}
.project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white;
    border-radius: 25%;
    text-align: center;
}
.project img {
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 2px solid;
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
